<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-end">                
                <div class="product-view">
                    <app-image [imgUrl]="iconGrid" name="grid" [iconClass]="iconStyle" (iconClick)="changeGrid()"></app-image>
                    <app-image [imgUrl]="iconList" name="list" [iconClass]="iconStyle" (iconClick)="changeList()"></app-image>
                </div>                                  
                <div class="price-filter">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem>Price $0 - $50</button>
                          <button ngbDropdownItem>Price $51 - $100</button>
                          <button ngbDropdownItem>Price $101 - $150</button>
                          <button ngbDropdownItem>Price $151 - $200</button>
                          <button ngbDropdownItem>Price $201 - $250</button>
                          <button ngbDropdownItem>Price $251 - $300</button>
                          <button ngbDropdownItem>Price $301 - $350</button>
                          <button ngbDropdownItem>Price $351 - $400</button>
                          <button ngbDropdownItem>Price $401 - $450</button>
                          <button ngbDropdownItem>Price $451 - $500</button>
                        </div>
                    </div>
                </div>                       
            </div>
        </div>
        <div class="col-md-12">
            <div class="product-box">
                <div ngClass= {{layoutStyle}} *ngFor="let item of products">
                    <img [src]="item.imgUrl" alt="">
                    <div class="product-details">
                        <span class="prod-name">{{item.name}}</span>
                        <small class="prod-category">{{item.category}}</small>
                        <span><strong>Price:</strong> {{item.price}}</span>
                        <app-button backgroundColor="green" color="white" text="Add to Cart" 
                        [btnClass]="btnStyle" (btnClick)="addCart()"></app-button>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>