<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-end">    
                <div class="notification-section">
                    <div class="notification">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="badge">{{notification}}</span>
                    </div>
                </div>
                <div class="product-view">
                    <app-image [imgUrl]="iconGrid" name="grid" [iconClass]="iconStyle" (iconClick)="changeGrid()"></app-image>
                    <app-image [imgUrl]="iconList" name="list" [iconClass]="iconStyle" (iconClick)="changeList()"></app-image>
                </div>
                <div class="price-filter">
                    <select id="mySelect" (change)="selectChange($event)">
                        <option [ngValue]="0">Select Sorting Option...</option>
                        <option *ngFor="let item of priceFilter" [ngValue]="item">{{item}}</option>
                    </select>
                </div>                       
            </div>
        </div>
        <div class="col-md-12">
            <div class="product-box">
                <div ngClass= {{layoutStyle}} *ngFor="let item of products">
                    <img [src]="item.imgUrl" [alt]="item.name">
                    <div class="product-details">
                        <span class="prod-name">{{item.name}}</span>
                        <small class="prod-category">{{item.category}}</small>
                        <span class="prod-description"> {{item.description | substring: 52}} </span>
                        <div class="price-rating"> 
                            <!-- <span><strong>Price:</strong> {{item.price | discount: '20' |currency:'USD':true:'1.0-0'}}</span> -->
                            <span [title]="item.discount">
                                <strong>Price:</strong> ${{item.price | discount: item.discount}} 
                                <em><del>{{item.price}}</del></em>
                            </span>
                            <app-rating [rating]='item.rating'></app-rating> <strong>{{item.rating}}</strong>
                        </div>
                        <app-button text="Add to Cart" 
                        [btnClass]="btnStyle" [iconClass]="'fa fa-shopping-cart'" (btnClick)="addCart()"></app-button>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>