<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-end">                
                <div class="product-view">
                    <app-image [imgUrl]="iconGrid" name="grid" [iconClass]="iconStyle" (iconClick)="changeGrid()"></app-image>
                    <app-image [imgUrl]="iconList" name="list" [iconClass]="iconStyle" (iconClick)="changeList()"></app-image>
                </div>
                <div class="price-filter">
                    <select id="mySelect" (change)="selectChange($event)">
                        <option [ngValue]="0">Select Sorting Option...</option>
                        <option *ngFor="let item of priceFilter" [ngValue]="item">{{item}}</option>
                    </select>
                    
                    <!-- <select id="mySelect" [(ngModel)]="mySelect" (change)="selectChange($event)">
                        <option [ngValue]="0" selected>Select Price</option>
                        <option [ngValue]="item" *ngFor="let item of priceFilter">
                            {{item}}
                        </option>
                    </select> -->
                    <!-- Selected: {{mySelect | json}} -->
                </div>                       
            </div>
        </div>
        <div class="col-md-12">
            <div class="product-box">
                <div ngClass= {{layoutStyle}} *ngFor="let item of products">
                    <img [src]="item.imgUrl" alt="">
                    <div class="product-details">
                        <span class="prod-name">{{item.name}}</span>
                        <small class="prod-category">{{item.category}}</small>
                        <span class="prod-description"> {{item.description | substring: 52}} </span>
                        <div class="price-rating"> 
                            <span><strong>Price:</strong> {{item.price | currency:'USD':true:'1.0-0'}}</span>
                            <app-rating [rating]='item.rating'></app-rating> <strong>{{item.rating}}</strong>
                        </div>
                        <app-button text="Add to Cart" 
                        [btnClass]="btnStyle" [iconClass]="'fa fa-shopping-cart'" (btnClick)="addCart()"></app-button>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>