@import '../../../../assets/scss/global.scss';

.product-view {
    margin: $mediam $small $small $small; 
    background-color:orange;
    padding: 4px;
    border-radius: 7px;
    
    .view-icon {
        height: 25px;
        margin: 3px;
        cursor: pointer;
    }
}
.price-filter {
    margin: $mediam $base18 $small 0;

    #mySelect {
        width: 180px;
        padding: 6.8px;
        border-radius: 7px;
    }
}

.product-box {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

    .product-grid {
        width: 23.5%;
        height: auto;
        border: 1px solid#aaa;
        margin-bottom: 2%;
        padding: 10px;
        border-radius: 4px;

        img {
            width: 100%;
            height: 155px;
            background-color:dimgray;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            margin-bottom: 5px;
        }

        .product-details {
            display: flex;
            flex-direction: column;

            .prod-name {
                font-size: $base18;
                font-weight: bold;
            }

            .prod-category {
                border-radius: 7px;
                font-size: 12px;
                width: fit-content;
                margin-top: -2px;
                margin-bottom: 5px;
            }

            .prod-description {
                margin-bottom: 7px;
            }

            .price-rating {
                display: flex;
                justify-content: space-between;

                del {
                    opacity: 0.8;
                    color: #777;
                }
            }
            
            .add-cart {
                margin-top: 15px;
                width: -webkit-fill-available;
                padding: 6px 30px;
                background-color: #ffffff;
                color: #3ba53b;
                border: 1px solid#3ba53b;

                &:hover {
                    background-color: #3ba53b;
                    color: #ffffff;
                }
            }
        }
    }

    .product-list {
        width: 49%;
        height: auto;
        border: 1px solid#aaa;
        margin-bottom: 2%;
        padding: 10px;
        display: flex;
        border-radius: 4px;

        img {
            width: 230px;
            height: 100%;
            background-color: dimgray;
            margin-right: 20px;
            border-radius: 8px;
        }

        .product-details {
            display: flex;
            flex-direction: column;

            .prod-name {
                font-size: $mediam;
                font-weight: bold;
            }

            .prod-category {
                border-radius: 7px;
                width: fit-content;
                margin-top: -2px;
                margin-bottom: 5px;
            }

            .prod-description {
                margin-bottom: 7px;
            }

            .price-rating {
                display: flex;
                justify-content: space-between;

                del {
                    opacity: 0.8;
                    color: #777;
                }
            }
            
            .add-cart {
                margin-top: 15px;
                padding: 6px 30px;
                background-color: #ffffff;
                color: #3ba53b;
                border: 1px solid#3ba53b;
                width: 100%;

                &:hover {
                    background-color: #3ba53b;
                    color: #ffffff;
                }
            }
        }
    }
}