// Importing all scss files
@import './variable.scss';
@import './mixin.scss';


// Reset CSS

// margin
.margin-small { margin: $small; }
.margin-mediam { margin: $mediam; }

.margin-top-small { margin-top: $small; }
.margin-top-mediam { margin-top: $mediam; }

.margin-bottom-small { margin-bottom: $small; }
.margin-bottom-mediam { margin-bottom: $mediam; }

// positions
.left { float: left; }
.right { float: right; }

// Media Queries

// Mobile devices
@media (max-width: 575px) {
    .product-box {
        .product-grid {
            width: 100% !important;
            padding: 15px !important;
            margin-bottom: 4% !important;
        }
        .product-list {
            width: 100% !important;
            img {
                width: 190px !important;
            }
        }
    }
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
    .timer-control {
        height: auto !important;
        text-align: center;
    }
    .timer-history {
        display: flex;
        flex-direction: column-reverse !important;
    
        .column {
            width: 100% !important;

            .control-history{
                padding: 20px 0;
            }
        }
    }
}

// Mobile devices
@media (min-width: 576px) and (max-width: 700px) {
    .product-box {
        .product-grid {
            width: 49% !important;
        }
        .product-list {
            width: 100% !important;
            img {
                width: 190px !important;
            }
        }
    }
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
    .timer-history {
        display: flex;
        flex-direction: column-reverse !important;
    
        .column {
            width: 100% !important;
        }
    }
}

// Tablet Devices
@media (min-width: 701px) and (max-width: 767px){
    .product-box {
        .product-grid {
            width: 48% !important;
            margin-bottom: 3% !important;
        }
        .product-list {
            width: 100% !important;
            img {
                width: 190px !important;
            }
        }
    }
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
}

// Desktop Devices
@media (min-width: 768px) and (max-width: 991px){
    .product-box {
        .product-grid {
            width: 32.5% !important;
        }
        .product-list {
            width: 99% !important;
            img {
                width: 250px !important;
            }
        }
    }
    .count-down {
        margin-bottom: 5%;
    }
}

// Desktop Devices
@media (min-width: 992px) and (max-width: 1199px){
    .product-box {
        .product-grid {
            width: 32% !important;
            img {
                height: 190px !important;
            }
        }
        .product-list {
            width: 49.3% !important;
            img {
                width: 205px !important;
            }
        }
    }
}

// Desktop Devices
@media (min-width: 1200px) {

}