<div class="container margin-top-mediam">
    <h3>Timer App</h3>
    
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="count-down">
                <app-count-down [initialCountDown]="currentTimer"></app-count-down>
            </div>                      
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="timer-control">
                <app-timer-control (start)="changeState()" (reset)="resetState()" [timerState]="initialState" [pausedValue]="pausedTime" (updatedValue)=setLimit($event)></app-timer-control>
            </div>
        </div>
    </div>

    <div class="timer-history">
        <div class="column">
            <div class="timer-logs">
                <span *ngFor="let item of latestDate">Started at {{ item | date: 'dd-MM-yy h:mm:ss a'}}</span>
            </div>
        </div>
        <div class="column">
            <div class="control-history">
                <div class="started">
                    <span>{{ startCount }}</span>
                    <span>Started</span>
                </div>
                <div class="paused">
                    <span>{{ pausedCount }}</span>
                    <span>Paused</span>
                </div>
            </div>
        </div>
    </div>
</div>

