<div class="container margin-top-mediam">
    <h3>Timer App</h3>
    
    <div class="row">
        <div class="col-md-5">
            <div class="count-down">
                <app-count-down [initialCountDown]="currentTimer"></app-count-down>
            </div>                      
        </div>
        <div class="col-md-7">
            <div class="timer-control">
                <app-timer-control (reset)="resetState()" (start)="changeState()" [timerState]="initialState" [pausedValue]="pausedTime" [setTimerValue]="currentTimer"></app-timer-control>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="timer-logs">
                <span>Started at {{ currentDate | date: 'dd-MM-yy h:mm a'}}</span>
            </div>
        </div>
        <div class="col-md-7">
            <div class="control-history">
                <div class="started">
                    <span>{{ startCount }}</span>
                    <span>Started</span>
                </div>
                <div class="paused">
                    <span>{{ pausedCount }}</span>
                    <span>Paused</span>
                </div>
            </div>
        </div>
    </div>
</div>

