@import '../../../../assets/scss/global.scss';

.count-down {
    border: 1px solid#333;
    height: 250px;
    padding: 20px;
}

.timer-control {
    border: 1px solid#333;
    height: 250px;
    padding: 20px;
}

.timer-history {
    display: flex;

    .column:nth-child(1) {
        width: 40%;
    }

    .timer-logs {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 20px;
        overflow-y: auto;
        height: 170px;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 12px rgba(124, 120, 120, 0.3); 
            -webkit-border-radius: 7px;
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 7px;
            border-radius: 7px;
            // background: rgba(60, 179, 113,0.8); 
            -webkit-box-shadow: inset 0 0 6px rgba(71, 67, 67, 0.5); 
        }
    }

    .control-history {
        display: flex;
        flex-direction: row;
        padding: $mediam;

        .started, .paused {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 $xxlarge;
            
            span:nth-child(1) {
                font-size: $large;
                font-weight: bold;
            }
            
            span:nth-child(2) {
                font-size: $base18;
            }
        }
    }
}

// Media Queries

// Mobile devices
@media (max-width: 575px) {
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
    .timer-control {
        height: auto !important;
        text-align: center;
    }
    .timer-history {
        display: flex;
        flex-direction: column-reverse !important;
    
        .column {
            width: 100% !important;

            .control-history{
                padding: 20px 0;
            }
        }
    }
}

// Mobile devices
@media (min-width: 576px) and (max-width: 700px) {
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
    .timer-history {
        display: flex;
        flex-direction: column-reverse !important;
    
        .column {
            width: 100% !important;
        }
    }
}

// Tablet Devices
@media (min-width: 701px) and (max-width: 767px){
    .count-down {
        height: unset !important;
        padding: 0 20px !important;
        margin-bottom: 5% !important;
    }
}

// Desktop Devices
@media (min-width: 768px) and (max-width: 991px){
    .count-down {
        margin-bottom: 5%;
    }
}