<div class="container timer-limit">
    <div class="row">
        <div class="col-md-10 ">
            <div class="row set-limit">
                <div class="col-md-4">
                    <label for="">Enter Timer Limit</label>
                </div>
                <div class="col-md-8">                        
                    <form>
                        <!-- <app-input type="text" [(ngModel)]="name" (keyup)="setTimerLimit()" [ngModelOptions]="{standalone: true}" placeholder="Enter Timer Limit"></app-input> -->

                        <input type="text" [(ngModel)]="limit" (keyup)="setTimerLimit()" [ngModelOptions]="{standalone: true}" placeholder="Enter Timer Limit"/>
                    </form>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8 start-stop">
                    <app-button backgroundColor="green" color="white" [text]="timerState" (btnClick)= "clickStart()" [btnClass]="'start-timer'" [disabled]="isDisabled"></app-button>
                    <app-button backgroundColor="red" color="white" text="Reset" (btnClick)="clickReset()"></app-button>
                </div>
            </div>  
        </div>
    </div>

    <div class="paused-history">
        <span *ngFor="let item of pausedValue">Paused at {{ item }}</span>
    </div>
</div>

