@import '../../../../../assets/scss/global.scss';

.timer-limit {
    padding: $base;

    .set-limit {
        label {
            position: relative;
            top: 5px;
        }
        input {
            padding: 2px 8px;
        }
    }

    .start-stop {
        margin-top: 5px;

        app-button {
            margin-right: 10px;
        }
        
        .start-timer {
            width: 115px ;
        }
    }

    .paused-history {
        display: flex;
        flex-direction: column;
        margin-top: $xlarge;
        overflow-y: auto;
        height: 89px;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 12px rgba(124, 120, 120, 0.3); 
            -webkit-border-radius: 7px;
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 7px;
            border-radius: 7px;
            // background: rgba(60, 179, 113,0.8); 
            -webkit-box-shadow: inset 0 0 6px rgba(71, 67, 67, 0.5); 
        }
    }
}