<div class="container timer-limit">
    <div class="row">
        <div class="col-md-10 ">
            <div class="row set-limit">
                <div class="col-md-4">
                    <label for="">Enter Limit</label>
                </div>
                <div class="col-lg-8 col-md-6">
                    <form>
                        <input type="text" name="limit" (keyup)="setLimit(limit)" placeholder="Enter Timer Limit" #limit />
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6"></div>
                <div class="col-lg-8 col-md-6 start-stop">
                    <app-button backgroundColor="green" color="white" [text]="timerState"
                    (btnClick)= "clickStart($event)" [btnClass]="'start-timer'"></app-button>
                    <app-button backgroundColor="red" color="white" text="Reset" (btnClick)="clickReset($event)"></app-button>
                </div>
            </div>
        </div>
    </div>

    <div class="paused-history">
        <span *ngFor="let item of pausedValue">Paused at {{ item }}</span>
    </div>
</div>