.banner {
    background-image: url(../../../../assets/img/banner1.jpg);
    height: 523px;    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-content {
        text-align: center;
        max-width: 70%;

        h2 {
            border-bottom: 1px solid#f00;
            color: #f00;
        }
    }
}