/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


// Impoerting global scss file.
@import './assets/scss/global.scss';


// Cart Notification 
.notification-section {
	margin: 20px 10px 10px 10px;
	border-radius: 7px;
	.cart-section {
		position: relative;
		display: inline-block;
		border-radius: 2px;
		.fa-shopping-cart {
			font-size: 39px;
			color: orange;
		}
		.badge {
			position: absolute;
			top: -10px;
			right: -10px;
			padding: 5px 10px;
			border-radius: 50%;
			background-color: red;
			color: white;
		}
	}
}